<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">Farmer Bidding</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="this.auth.isAuthenticated1();then authenticated1;else notAuthenticated1">
      </ng-container>
      <ng-template #notAuthenticated1>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/userregister" class="nav-link">Register</a></li>
        <li><a class="nav-link" href="javascript:void(0);" routerLink="/userlogin">Login</a></li>
      </ng-template>
      <ng-template #authenticated1>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard1" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/userproducts" class="nav-link">Bid Products</a>
        </li>
        <li><a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>